<ol class="breadcrumb">
  <li><a href="/">All questions</a></li>
  <li><%= link_to @question.title[0..35] + " ....", @question %></li>
  <li class="active">Editing question</li>
</ol>

<h4>Editing Question</h4>
<hr>
<%= render 'form', question: @question %>


