<ol class="breadcrumb">
  <li><a href="/">All questions</a></li>
  <li class="active">New question</li>
</ol>

<h4><u>New Question</u></h4>
<p class="grey">You may use markdown in your question title and content.</p>
<hr>
<%= render 'form', question: @question %>
