<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Account <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
      <li><%= link_to 'About Q&A', page_path('about') %></li> 
      <li><%= link_to 'Edit my account', edit_user_registration_path %></li>        
      <li role="separator" class="divider"></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  </ul>
</li>