<ol class="breadcrumb">
  <li><a href="/">All questions</a></li>
  <li class="active">Search a question</li>
</ol>

<h4><u>Questions finder</u></h4>
<p class="grey">Suggestion: best sites, cookpad, eat</p>

<div id="search_bar"></div>
<%= vue_component "search_bar" %> 
