<% if user_signed_in? %>
  <li><%= link_to 'Ask a question', new_question_path %></li>
  <li><%= link_to 'Search for a question', searches_path %></li>
  <%= render "layouts/dropdowns/account" %>
<% else %>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
